@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 45 920;
  font-style: normal;
  font-display: swap; /* 폰트 로딩 중에도 텍스트를 즉시 표시 */
}

body {
  font-family: "Pretendard", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 웹킷 기반 브라우저 (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #b0b5c1;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: #;
}

/* 스크롤바 상/하단 화살표 숨기기 */
*::-webkit-scrollbar-button {
  display: none;
}

/* 토스트 애니메이션 */
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast-animation {
  animation: fadeInSlide 0.3s ease-out forwards;
}
